.app-layout {
  position: relative;
}

.page-content {
  width: 100%;
  // Add padding to prevent content from hiding behind the fixed sidebar
  padding-left: 80px;

  @media screen and (max-width: 1200px) {
    // On smaller screens, the sidebar is not fixed, so remove the padding
    padding-left: 0;
  }
}